* {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

body {
  font-family: 'Poppins';
  color: rgb(19, 42, 59);
  background-color: rgb(217, 237, 255);
  display: flex;
  justify-content: center;
  align-self: center;
  height: 100vh;
  overflow: hidden;
}
.forms{
  display: grid;
  place-content:center;
  height: 100vh;
}
h2{
  text-align: left;
}
div{
  margin-bottom: 1.5rem;
}
button{
    text-decoration: none;
    padding: 1rem;
    background-color: navy;
    font-weight: 900;
    color: white;
    width: 100%;
    border: none;
    border-radius: 6px;
    font-size: 1.2rem;
    cursor: pointer;
    
}

button:hover{
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5)
}
button:active{
  /* transform: scale(0.9); */
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}
input{
  width: 100%;
  padding: 1.2rem 1.5rem;
  border-radius: 6px;
  border: none;
  background-color: rgb(243, 244, 245);
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  color: rgba(19, 42, 59, .8);
}
input:hover{
  box-shadow: 6px 6px rgba(0, 0, 0, 0.5)
}
input:focus{
  outline: none;
  background-color: white;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.5)
}
label{
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.form {
  width: 100%;
}

