*{
  box-sizing: border-box;
  font-family: "Poppins";
  background-color: rgb(209, 209, 209);
}

button{
  background-color: rgb(0, 81, 255);
  color: white;
  border-radius: 10px;
  padding:0.7rem 1rem;
  border: none;
  transition:all 0.3s ease-in-out;
  font-weight: 500;
}
button:hover{
  background-color: rgb(0, 119, 255);
}
button:active{
  transform: scale(0.9);
}
input{
  padding: 0.6rem 0.8rem;
  width: 250px;
  border-radius: 7px;
  background-color: rgb(255, 255, 255);
  border: none;
}