{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  <title>Logout</title>
</head>
<body>
  <div class="continer">
    <h1>Logout</h1>
    <p>Are you sure you want to logout ?</p>
    <form action="{% url "logout" %}" method="post">
      {% csrf_token %}
      <button type="submit">Logout</button>
      <a href="{% url "home" %}">Cancel</a>
    </form>
  </div>
</body>
</html>