{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <div class="container forms">
      <h2>Register</h2>
      <form action="{% url 'register' %}" method="post" class="form rform">
        {% csrf_token %} {{form.as_p}}
        <button type="submit">Register</button>
        <p>Have an account? <a href="{% url "login" %}">Login here</a></p>
      </form>
    </div>
  </body>
</html>
