body{
    font-family:"Poppins";
    background-color: #dadada;
    color: #333;
    margin:0;
    padding: 20px;
    overflow: hidden;
}

h1{
    color: #092E20;
    text-align: center;
}

a{
    text-decoration: none;
    text-align: center;
    color: #003cff;
}
a:hover{
    text-decoration: underline;
}

button{
    background-color:#0a5237;
    color: white;
    font-weight: 600;
    padding: 1rem;
    border:none;
    border-radius:10px ;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: "Poppins";
}
button:hover{
    background-color:#0e7e55;
}
button:active{
    transform: scale(0.9);
}
.logo{
    width: 80px;
}

/* style my form page */
label{
    font-weight: 600;
}

.form{
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 4p 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

input,
textarea{
    width: 100%;
    padding: 0.8rem;
    margin: 10px 0 20px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    font-size: 1rem;
    font-family: "Poppins";
}
.centered-content{
  text-align: center;
}